# {{ ansible_managed }}

template(name="tplMsgOnly" type="string" string="%msg%\n")

if $programname == '{{ steamengine_project_name }}' then {
    action(type="omfile" fileCreateMode="0644" file="{{ steamengine_logs_path }}/application.log" template="tplMsgOnly")
}
