# {{ ansible_managed }}

{% if steamengine_disable_rsyslog_escape_control_characters %}
$EscapeControlCharactersOnReceive off
{% endif %}

{# Remove rsyslog leading space with %msg:2:$:% #}
{# https://runnable.com/blog/the-mysterious-case-of-the-leading-space #}
template(name="tplMsgOnly" type="string" string="%msg:2:$:%\n")

if $programname == '{{ steamengine_project_name }}' then {
    action(type="omfile" fileCreateMode="0644" file="{{ steamengine_logs_path }}/application.log" template="tplMsgOnly")
}
