#!/bin/bash

# {{ ansible_managed }}

display_usage() {
    echo -e "Usage: $0 <arguments>"
    echo -e "\nArguments:"
    echo -e "  start\n\t\t\tStart the SteamEngine project"
    echo -e "  stop\n\t\t\tStop the SteamEngine project"
    echo -e "  restart\n\t\t\tRestart the SteamEngine project"
    echo -e "  reload\n\t\t\tReload the SteamEngine project"
    echo -e "  status\n\t\t\tDisplay the SteamEngine project status"
    echo -e "  monit\n\t\t\tMonitor the SteamEngine project logs"
    echo -e "  log\n\t\t\tDisplay and follow the SteamEngine project logs"
    echo -e "  fixpermissions\n\t\t\tRestore project files and folders permissions"
    echo -e "  -h, --help\n\t\t\tShow Usages"
    echo ""
}

if [ "$EUID" -ne 0 ]
then
    exec sudo "$0" "$@"
fi

# if less than two arguments supplied, display usage
if [  $# -le 0 ]
then
    display_usage
    exit 1
fi

# check whether user had supplied -h or --help . If yes display usage
if [[ ( $# == "--help") ||  $# == "-h" ]]
then
    display_usage
    exit 0
fi

while [ $# -gt 0 ]; do
  arg=$1
  shift
  case $arg in
    start)
     systemctl start {{ steamengine_project_name }}
     exit $?
    ;;
    stop)
     systemctl stop {{ steamengine_project_name }}
     exit $?
    ;;
    restart)
     systemctl restart {{ steamengine_project_name }}
     exit $?
    ;;
    reload)
     systemctl reload {{ steamengine_project_name }}
     exit $?
    ;;
    status)
     systemctl status {{ steamengine_project_name }}
     HOME={{ steamengine_project_root_path }} PM2_HOME={{ steamengine_project_root_path }}/pm2 /usr/local/lib/npm/bin/pm2 show {{ steamengine_project_name }}
     exit $?
    ;;
    monit)
     HOME={{ steamengine_project_root_path }} PM2_HOME={{ steamengine_project_root_path }}/pm2 /usr/local/lib/npm/bin/pm2 monit
     exit $?
    ;;
    log)
     tail -f {{ steamengine_logs_path }}/application.log
     exit $?
    ;;
    fixpermissions)
     if [ -d "{{ steamengine_project_root_path_web }}" ]; then
         chown -R {{ steamengine_project_user }}:{{ steamengine_app_user }} {{ steamengine_project_root_path_web }}
         chmod -R u=rwx,g=rx,o= {{ steamengine_project_root_path_web }}
         {% for item in steamengine_nodejs_allowed_write_paths -%}
         if [ -d "{{ steamengine_project_root_path_web }}/{{ item }}" ]; then
             chown -R {{ steamengine_project_user }}:{{ steamengine_app_user }} {{ steamengine_project_root_path_web }}/{{ item }}
             chmod -R u=rwx,g=rwx,o= {{ steamengine_project_root_path_web }}/{{ item }}
         fi
         {% endfor %}

     fi
     exit $?
    ;;
    *)
     echo "Wrong option"
     display_usage
     exit 1
    ;;
  esac
done
