#!/bin/bash

# {{ ansible_managed }}

display_usage() {
    echo -e "Usage: $0 <arguments>"
    echo -e "\nArguments:"
    {% for item in steamengine_wrapper_scripts | union(steamengine_wrapper_scripts_extra) -%}
    echo -e "  {{ item.name }}\n\t\t\t{{ item.description }}"
    {% endfor -%}
    echo -e "  -h, --help\n\t\t\tShow Usages"
    echo ""
}

if [ "$EUID" -ne 0 ]
then
    exec sudo "$0" "$@"
fi

# if less than two arguments supplied, display usage
if [  $# -le 0 ]
then
    display_usage
    exit 1
fi

# check whether user had supplied -h or --help . If yes display usage
if [[ ( $# == "--help") ||  $# == "-h" ]]
then
    display_usage
    exit 0
fi

while [ $# -gt 0 ]; do
  arg=$1
  shift
  case $arg in
  {% for item in steamengine_wrapper_scripts -%}
  {{ item.name }})
    {% if item.run_as_app_user is defined and item.run_as_app_user %}
        cat <<"EOF" | sudo -u {{ steamengine_app_user }} -g {{ steamengine_project_user }} bash
    {% else %}
        cat <<"EOF" | bash
    {% endif %}
    {% if item.run_in_project_root_path_web is defined and item.run_in_project_root_path_web %}
        cd {{ steamengine_project_root_path_web }}
    {% endif %}
    {% if item.run_with_symfony_app_env is defined and item.run_with_symfony_app_env %}
        APP_ENV='{{ steamengine_project_configuration.APP_ENV }}' {{ item.command }}
    {% else %}
      {{ item.command }}
    {% endif %}

EOF
    exit $?
    ;;
  {% endfor -%}
    *)
     echo "Wrong option"
     display_usage
     exit 1
    ;;
  esac
done
