# {{ ansible_managed }}

[Unit]
Description={{ steamengine_project_name }} server

[Service]
ExecStart={{ steamengine_project_root_path_web }}/bin/{{ steamengine_play2_run_script }} \
    -Dconfig.file={{ steamengine_conf_path }}/project_env.conf \
    -Dplay.server.pidfile.path=/dev/null \
    {% for opt in steamengine_java_base_opts | union(steamengine_java_opts | default ([])) %}{{ '-J' + opt + ' ' }}{% endfor %}


Type=simple

Restart=always
RestartSec=10

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

User={{ steamengine_app_user }}
Group={{ steamengine_app_user }}
SyslogIdentifier={{ steamengine_project_name }}

[Install]
WantedBy=multi-user.target
