# {{ ansible_managed }}

[Unit]
Description={{ steamengine_project_name }} server

[Service]
ExecStart={{ steamengine_project_root_path }}/tomcat/bin/catalina.sh run
Type=simple

Environment='CATALINA_OPTS=-D{{ steamengine_tomcat7_configuration_key }}={{ steamengine_conf_path }}/project_env.conf
{%- for opt in steamengine_java_base_opts | union(steamengine_java_opts | default ([])) -%}
    {{ ' ' + opt }}
{%- endfor %}'
Environment=CATALINA_HOME={{ steamengine_project_root_path }}/tomcat
Environment=CATALINA_BASE={{ steamengine_project_root_path }}/tomcat

Restart=always
RestartSec=10

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

User={{ steamengine_app_user }}
Group={{ steamengine_app_user }}
SyslogIdentifier={{ steamengine_project_name }}

[Install]
WantedBy=multi-user.target




