# {{ ansible_managed }}

[Unit]
Description={{ steamengine_project_name }} server

[Service]
WorkingDirectory={{ steamengine_project_root_path_web }}
ExecStart={{ steamengine_project_pm2_bin_path }} start {{ steamengine_conf_path }}/nodejs_pm2_ecosystem.json --no-daemon
Type=simple
PIDFile={{ steamengine_project_root_path }}/pm2/pm2.pid

Environment=NODE_ENV=production
Environment=PM2_HOME={{ steamengine_project_root_path }}/pm2
Environment=PATH={{ steamengine_project_path_variable }}

Restart=always
RestartSec=10

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

User={{ steamengine_app_user }}
Group={{ steamengine_project_user }}
LogExtraFields=STM_ID=steamengine
LogExtraFields=PROJECT_TYPE={{ steamengine_project_type }}
SyslogIdentifier={{ steamengine_project_name }}

[Install]
WantedBy=multi-user.target
