# {{ ansible_managed }}

[Unit]
Description={{ steamengine_project_name }} server

[Service]
ExecStart={{ steamengine_project_root_path }}/project/bin/{{ steamengine_play2_run_script }} \
    -Dconfig.file={{ steamengine_conf_path }}/project_env_conf.yml -Dhttp.netty.maxInitialLineLength=8192 -Dplay.http.secret.key='F3tCZYKXAPzj3cjADhkkEFsm9uPtTTPf' \
    -Dplay.server.pidfile.path=/dev/null -Dhttp.port={{ steamengine_project_configuration.server.port }} {{ appParams|default('') }}


Type=simple

Restart=always
RestartSec=10

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

User={{ steamengine_app_user }}
Group={{ steamengine_app_user }}
SyslogIdentifier={{ steamengine_project_name }}

[Install]
WantedBy=multi-user.target
