# {{ ansible_managed }}

[Unit]
Description={{ steamengine_project_name }} server

[Service]
ExecStart=/usr/bin/java \
    {% for opt in steamengine_java_base_opts | union(steamengine_java_opts | default ([])) %}{{ opt + ' ' }}{% endfor %}
    -jar {{ steamengine_project_root_path }}/project.jar \
    --spring.config.location={% if steamengine_project_configuration_base_name is defined %}classpath:/{{ steamengine_project_configuration_base_name }},{% endif %}file:{{ steamengine_conf_path }}/project_env_conf.yml

Type=simple

Restart=always
RestartSec=10

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

User={{ steamengine_app_user }}
Group={{ steamengine_app_user }}
LogExtraFields=STM_ID=steamengine
LogExtraFields=PROJECT_TYPE={{ steamengine_project_type }}
SyslogIdentifier={{ steamengine_project_name }}

[Install]
WantedBy=multi-user.target
