<?xml version='1.0' encoding='utf-8'?>

<!-- {{ ansible_managed }} -->

<Server port="-1" shutdown="SHUTDOWN">

    {% if steamengine_tomcat_version_logger_listener_on %}
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    {% endif %}

    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    {% if steamengine_tomcat_major_version == "7" %}
    <Listener className="org.apache.catalina.core.JasperListener" />
    {% endif %}
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

    {% if steamengine_tomcat_major_version == "9" %}
      <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
      </GlobalNamingResources>
    {% endif %}

    <Service name="Catalina">
        <Connector port="{{ steamengine_tomcat_http_port }}"
                   {% if steamengine_tomcat_reverse_https %}
                   secure="true"
                   scheme="https"
                   {% endif %}
                   protocol="org.apache.coyote.http11.Http11NioProtocol"
                   connectionTimeout="{{ steamengine_tomcat_connection_timeout }}"
                   maxThreads="{{ steamengine_tomcat_max_threads }}"
                   acceptCount="{{ steamengine_tomcat_accept_count }}"
                   acceptorThreadCount="{{ steamengine_tomcat_acceptor_thread_count }}"
                   maxConnections="{{ steamengine_tomcat_max_connections }}"
                   minSpareThreads="{{ steamengine_tomcat_min_spare_threads }}"
                   server="Apache Tomcat" />

        <Engine name="Catalina" defaultHost="localhost">

          {% if steamengine_tomcat_major_version == "9" %}
            <Realm className="org.apache.catalina.realm.LockOutRealm">
              <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                 resourceName="UserDatabase"/>
            </Realm>
          {% endif %}

            <Host name="localhost"
                  appBase="webapps"
                  unpackWARs="false"
                  autoDeploy="false"
                  createDirs="false"
                  deployOnStartup="true" >

                <Valve className="org.apache.catalina.valves.AccessLogValve"
                       rotatable="false"
                       directory="{{ steamengine_logs_path }}"
                       prefix="tomcat_access"
                       suffix=".log"
                       pattern="%h %l %u %t &quot;%r&quot; %s %b" />

            </Host>
        </Engine>
    </Service>
</Server>
